<div class="home-info">
  <h1>Artdealer</h1>
  Artdealer is a place for creative Artists and people who want to easily
  buy nice piece of Art and meet with Artists. I will soon be rolling out
  fancy features, improving UI and layout.<br>
  As for now buy mode is disabled.<br><br>

  Contact: marcinlerka@gmail.com
</div>
