<div class="home-info">
  <h1>Artdealer</h1>
  Artdealer is a place for creative Artists and people who want to easily
  buy nice piece of Art and meet with Artists. I will soon be rolling out
  fancy features, improving UI and layout.<br>
  As for now buy mode is disabled.<br><br>

  Contact: marcinlerka@gmail.com<br>
  <%= link_to "http://github.com/marcinlerka", "http://github.com/marcinlerka" %><br>
  <%= link_to "http://www.marcinlerka.pl", "http://www.marcinlerka.pl" %><br><br><br>

  If you want to <b>TEST</b> Artdealer You can <b>use:</b>
  <h3><%= link_to "Sample Artist account", new_user_session_path %></h3>
  or:  <h3><%= link_to "Register Your own account", new_user_registration_path %></h3>
</div>
